@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scrollbar-color: #ff3540 #0d0d13;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #ff3540;
}

::-webkit-scrollbar-track {
	background-color: #0d0d13;
}
