@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: #32333d;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 9999;
	background: #32333d;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
}

.spinner-grow {
	color: #c1c1c4;
	width: 3.5rem;
	height: 3.5rem;
	margin: 0 20px;
}

.card {
	width: 20rem;
	padding: 0;
	background: #27272f;
	color: #c1c1c4;
}

.card-header {
	padding: 0;
}

.loader > h1,
.card-body > h3 {
	color: #ff3d43;
}

.card-footer > img {
	margin-top: -2px;
	width: 1.4rem;
}

@media (max-width: 576px) {
	.container {
		gap: 30px;
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.container {
		gap: 25px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.container {
		gap: 20px;
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		gap: 15px;
	}
}

@media (min-width: 1200px) and (max-width: 1400px) {
	.container {
		gap: 10px;
	}
}

@media (min-width: 1400px) {
	.container {
		gap: 5px;
	}
}
